In [2]:
from pandas.io.parsers import read_csv

df = read_csv("WHO_first9cols.csv")

In [3]:
print ("Dataframe", df)

Dataframe                       Country  CountryID  Continent  \
0                 Afghanistan          1          1
1                     Albania          2          2
2                     Algeria          3          3
3                     Andorra          4          2
4                      Angola          5          3
5         Antigua and Barbuda          6          4
6                   Argentina          7          5
7                     Armenia          8          2
8                   Australia          9          6
9                     Austria         10          2
10                 Azerbaijan         11          2
11                    Bahamas         12          4
12                    Bahrain         13          1
13                 Bangladesh         14          7
14                   Barbados         15          4
15                    Belarus         16          2
16                    Belgium         17          2
17                     Belize         18          5
18                      Benin         19          3
19                    Bermuda         20          4
20                     Bhutan         21          7
21                    Bolivia         22          5
22     Bosnia and Herzegovina         23          2
23                   Botswana         24          3
24                     Brazil         25          5
25          Brunei Darussalam         26          6
26                   Bulgaria         27          2
27               Burkina Faso         28          3
28                    Burundi         29          3
29                   Cambodia         30          7
..                        ...        ...        ...
172                 Swaziland        173          3
173                    Sweden        174          2
174               Switzerland        175          2
175                     Syria        176          1
176                    Taiwan        177          6
177                Tajikistan        178          2
178                  Tanzania        179          3
179                  Thailand        180          6
180               Timor-Leste        181          6
181                      Togo        182          3
182                     Tonga        183          6
183       Trinidad and Tobago        184          5
184                   Tunisia        185          1
185                    Turkey        186          2
186              Turkmenistan        187          2
187                    Tuvalu        188          6
188                    Uganda        189          3
189                   Ukraine        190          2
190      United Arab Emirates        191          1
191            United Kingdom        192          2
192  United States of America        193          4
193                   Uruguay        194          5
194                Uzbekistan        195          2
195                   Vanuatu        196          6
196                 Venezuela        197          5
197                   Vietnam        198          6
198        West Bank and Gaza        199          1
199                     Yemen        200          1
200                    Zambia        201          3
201                  Zimbabwe        202          3

     Adolescent fertility rate (%)  Adult literacy rate (%)  \
0                            151.0                     28.0
1                             27.0                     98.7
2                              6.0                     69.9
3                              NaN                      NaN
4                            146.0                     67.4
5                              NaN                      NaN
6                             62.0                     97.2
7                             30.0                     99.4
8                             16.0                      NaN
9                             14.0                      NaN
10                            31.0                     98.8
11                            46.0                      NaN
12                            14.0                     86.5
13                           135.0                     47.5
14                            51.0                      NaN
15                            22.0                     99.6
16                             5.0                      NaN
17                            90.0                     70.3
18                           108.0                     34.7
19                             NaN                      NaN
20                            62.0                      NaN
21                            97.0                     86.7
22                            25.0                     96.7
23                            51.0                     81.2
24                            71.0                     88.6
25                            31.0                     92.7
26                            40.0                     98.2
27                           131.0                     23.6
28                            30.0                     59.3
29                            52.0                     73.6
..                             ...                      ...
172                           73.0                     79.6
173                            7.0                      NaN
174                            5.0                      NaN
175                           58.0                     80.8
176                            NaN                      NaN
177                           57.0                     99.5
178                          139.0                     69.4
179                           70.0                     92.6
180                           49.0                      NaN
181                           89.0                     53.2
182                           17.0                     98.9
183                           35.0                     98.5
184                            8.0                     74.3
185                           51.0                     87.4
186                           29.0                     98.8
187                            NaN                      NaN
188                          159.0                     68.1
189                           29.0                     99.4
190                           37.0                     88.5
191                           27.0                      NaN
192                           43.0                      NaN
193                           64.0                     96.8
194                           40.0                      NaN
195                           92.0                     75.5
196                           81.0                     93.0
197                           25.0                     90.3
198                            NaN                      NaN
199                           83.0                     54.1
200                          161.0                     68.0
201                          101.0                     89.5

     Gross national income per capita (PPP international $)  \
0                                                  NaN
1                                               6000.0
2                                               5940.0
3                                                  NaN
4                                               3890.0
5                                              15130.0
6                                              11670.0
7                                               4950.0
8                                              33940.0
9                                              36040.0
10                                              5430.0
11                                                 NaN
12                                             34310.0
13                                              1230.0
14                                             15150.0
15                                              9700.0
16                                             33860.0
17                                              7080.0
18                                              1250.0
19                                                 NaN
20                                              4000.0
21                                              3810.0
22                                              6780.0
23                                             11730.0
24                                              8700.0
25                                             49900.0
26                                             10270.0
27                                              1130.0
28                                               320.0
29                                              1550.0
..                                                 ...
172                                             4700.0
173                                            34310.0
174                                            40840.0
175                                             4110.0
176                                                NaN
177                                             1560.0
178                                              980.0
179                                             7440.0
180                                             5100.0
181                                              770.0
182                                             5470.0
183                                            16800.0
184                                             6490.0
185                                             8410.0
186                                             3990.0
187                                                NaN
188                                              880.0
189                                             6110.0
190                                            31190.0
191                                            33650.0
192                                            44070.0
193                                             9940.0
194                                             2190.0
195                                             3480.0
196                                            10970.0
197                                             2310.0
198                                                NaN
199                                             2090.0
200                                             1140.0
201                                                NaN

     Net primary school enrolment ratio female (%)  \
0                                              NaN
1                                             93.0
2                                             94.0
3                                             83.0
4                                             49.0
5                                              NaN
6                                             98.0
7                                             84.0
8                                             97.0
9                                             98.0
10                                            83.0
11                                            89.0
12                                            98.0
13                                            90.0
14                                            96.0
15                                            88.0
16                                            97.0
17                                            97.0
18                                            73.0
19                                             NaN
20                                            79.0
21                                            95.0
22                                             NaN
23                                            85.0
24                                            95.0
25                                            94.0
26                                            92.0
27                                            42.0
28                                            73.0
29                                            89.0
..                                             ...
172                                           79.0
173                                           95.0
174                                           89.0
175                                           92.0
176                                            NaN
177                                           95.0
178                                           97.0
179                                           94.0
180                                           67.0
181                                           75.0
182                                           94.0
183                                           85.0
184                                           97.0
185                                           89.0
186                                            NaN
187                                            NaN
188                                            NaN
189                                           90.0
190                                           88.0
191                                           99.0
192                                           93.0
193                                          100.0
194                                           78.0
195                                           86.0
196                                           91.0
197                                           91.0
198                                            NaN
199                                           65.0
200                                           94.0
201                                           88.0

     Net primary school enrolment ratio male (%)  \
0                                            NaN
1                                           94.0
2                                           96.0
3                                           83.0
4                                           51.0
5                                            NaN
6                                           99.0
7                                           80.0
8                                           96.0
9                                           97.0
10                                          86.0
11                                          87.0
12                                          98.0
13                                          87.0
14                                          97.0
15                                          90.0
16                                          97.0
17                                          97.0
18                                          87.0
19                                           NaN
20                                          79.0
21                                          94.0
22                                           NaN
23                                          83.0
24                                          93.0
25                                          94.0
26                                          93.0
27                                          52.0
28                                          76.0
29                                          91.0
..                                           ...
172                                         78.0
173                                         95.0
174                                         89.0
175                                         97.0
176                                          NaN
177                                         99.0
178                                         98.0
179                                         94.0
180                                         70.0
181                                         86.0
182                                         97.0
183                                         85.0
184                                         96.0
185                                         93.0
186                                          NaN
187                                          NaN
188                                          NaN
189                                         90.0
190                                         88.0
191                                         98.0
192                                         91.0
193                                        100.0
194                                         79.0
195                                         88.0
196                                         91.0
197                                         96.0
198                                          NaN
199                                         85.0
200                                         90.0
201                                         87.0

     Population (in thousands) total
0                            26088.0
1                             3172.0
2                            33351.0
3                               74.0
4                            16557.0
5                               84.0
6                            39134.0
7                             3010.0
8                            20530.0
9                             8327.0
10                            8406.0
11                             327.0
12                             739.0
13                          155991.0
14                             293.0
15                            9742.0
16                           10430.0
17                             282.0
18                            8760.0
19                               NaN
20                             649.0
21                            9354.0
22                            3926.0
23                            1858.0
24                          189323.0
25                             382.0
26                            7693.0
27                           14359.0
28                            8173.0
29                           14197.0
..                               ...
172                           1134.0
173                           9078.0
174                           7455.0
175                          19408.0
176                              NaN
177                           6640.0
178                          39459.0
179                          63444.0
180                           1114.0
181                           6410.0
182                            100.0
183                           1328.0
184                          10215.0
185                          73922.0
186                           4899.0
187                             10.0
188                          29899.0
189                          46557.0
190                           4248.0
191                          60512.0
192                         302841.0
193                           3331.0
194                          26981.0
195                            221.0
196                          27191.0
197                          86206.0
198                              NaN
199                          21732.0
200                          11696.0
201                          13228.0

[202 rows x 9 columns]

In [4]:
print ("Shape", df.shape)

Shape (202, 9)

In [5]:
print ("Length", len(df))

Length 202

In [6]:
print ("Column Headers", df.columns)

Column Headers Index(['Country', 'CountryID', 'Continent', 'Adolescent fertility rate (%)',
       'Adult literacy rate (%)',
       'Gross national income per capita (PPP international $)',
       'Net primary school enrolment ratio female (%)',
       'Net primary school enrolment ratio male (%)',
       'Population (in thousands) total'],
      dtype='object')

In [7]:
print ("Data types", df.dtypes)

Data types Country                                                    object
CountryID                                                   int64
Continent                                                   int64
Adolescent fertility rate (%)                             float64
Adult literacy rate (%)                                   float64
Gross national income per capita (PPP international $)    float64
Net primary school enrolment ratio female (%)             float64
Net primary school enrolment ratio male (%)               float64
Population (in thousands) total                           float64
dtype: object

In [8]:
print ("Index", df.index)

Index RangeIndex(start=0, stop=202, step=1)

In [9]:
print ("Values", df.values)

Values [['Afghanistan' 1 1 ... nan nan 26088.0]
 ['Albania' 2 2 ... 93.0 94.0 3172.0]
 ['Algeria' 3 3 ... 94.0 96.0 33351.0]
 ...
 ['Yemen' 200 1 ... 65.0 85.0 21732.0]
 ['Zambia' 201 3 ... 94.0 90.0 11696.0]
 ['Zimbabwe' 202 3 ... 88.0 87.0 13228.0]]

In [16]:
df['Country'][0]

'Afghanistan'